body{
  font-family: "Raleway";
  height: 100%;
  width: 100%;
  margin: 0;
  background-image: url("../assets/fond-gererCompte.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

/* ------------------------------------ HEADER ------------------------------------*/
.bar{
  display: flex;
  justify-content : center;
  color: rgb(55,199,211);
  margin-top: 0;
  background-color: rgb(255,255,255,0.8);
  top: 0px;
  margin-top: 0;
  margin-bottom: 5%;
}

#Libdiscount{
  margin-top: 20px;
  font-size: 1.8em;
}

.menu{
  margin-left: 450px;
  margin-top: 30px;
}

.menu ul{
  display: flex;
  list-style-type: none;
  margin-top: 0;
  font-family: Montserrat;
}

.menu li{
  margin-left: 20px;
}

.menu li:hover{
  text-decoration: underline;
  cursor: pointer;

}

/* BALISE A */
a{
  text-decoration: none;
}
a:link {
  color: grey;
}
a:visited {
  color: grey;
}
a:hover {
  color: rgb(55,199,211);
}
a:active {
  color: grey;
}
#logo{
  margin-top: 10px;
  width: 20%;
  height:10%;
}
#logout{
  width: 50px;
  height: 50px;
}
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------ DIV FORMULAIRE ------------------------------------ */
#containeformulaire{
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  color: white;

}
form{
  background-color: rgba(0, 0, 0, 0.7);
  width: 30%;
  border-radius: 7px;
  padding: 20px;
  justify-content: center;
  text-align: center;
}
#case{
  display: grid;
  grid-template-columns: 50% 50%;
}
#redirection{
  text-align: center;
  margin: auto;
  color: white;
}
#textRedirect{
  text-decoration: underline;
  font-size: 1.1em;
}
#hoverRedirect:link {
  color: white;
}
#hoverRedirect:visited {
  color: white;
}
#hoverRedirect:hover {
  color: rgb(55,199,211);
}
#hoverRedirect:active {
  color: white;
}
h1{
  color: white;
}
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------ CHAMPS DE SAISIE FORMULAIRE ------------------------------------ */
.champ{
  margin: 10px;
  border: 2px solid #dadada;
  border-radius: 7px;
  padding: 10px;
}
.champ:focus{
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}
#buttonSubmit{
  background-color: rgb(55,199,211);
  height: 50px;
  width: 150px;
  border: solid 0px white;
  border-radius: 7px;
  color: white;
  letter-spacing: 1px;
  right: 0px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px
}

#souvenir{
  color: white;
  margin-bottom: 20px;
}
#boutonValide{
  background-color: rgb(55,199,211, 0);
  border: 0;
  width: 100%;
}
#boutonValide:hover{
  border: solid rgb(55,199,211, 0.5) 1px;
}
#boutonValide img{
  width: 75px;
  height: 75px;
}
