body{
  font-family: "Raleway";
  height: 100%;
  width: 100%;
  margin: 0;
}

/* ------------------------------------ HEADER ------------------------------------*/
.bar{
  display: flex;
  justify-content : center;
  justify-content: space-around;
  color: rgb(55,199,211);
  margin-top: 0;
  top: 0px;
  margin-top: 0;
  background-image: url("../assets/slider.png");
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#Libdiscount{
  margin-top: 20px;
  font-size: 1.8em;
}

.menu{
  margin-left: 450px;
  margin-top: 30px;
}

.menu ul{
  display: flex;
  list-style-type: none;
  margin-top: 0;
  font-family: Montserrat;
}

.menu li{
  margin-left: 20px;
}

.menu li:hover{
  text-decoration: underline;
  cursor: pointer;

}

/* BALISE A */
a{
  text-decoration: none;
}
a:link {
  color: grey;
}
a:visited {
  color: grey;
}
a:hover {
  color: rgb(55,199,211);
}
a:active {
  color: grey;
}
#logo{
  margin-top: 10px;
  width: 200px;
  height:75px;
}
#logout{
  width: 50px;
  height: 50px;
}
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------ DIV NAVIGATION USER ------------------------------------ */
#divNavigation{
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  text-align: center;
}
#navigation{
  display: grid;
  grid-template-columns: 50% 50%;
  width: 40%;
  margin: auto;
}
.icone{
  width: 100px;
  height: 100px;
}

#titreInterface{
  margin-top: 50px;
}
button{
  border: 0;
  background-color: white;
}
.boutonInterface:hover{

  transform: translateY(-10px);
}

/* ------------------------------------------------------------------------------------------------------------ */

/* ------ MES ANNONCES BANDEROLE ------------------------------------------------------------------------------------------------------ */
#banderole{
  background-image: url("banderole.jpg");
  background-position: center;
  text-align: center;
  height: 150px;
  display: flex;
  justify-content: center;
  margin-bottom: 75px;
}
#titreCentrer{
  background-color: rgb(0, 0, 0, 0.4);
}
#titreBanderole{
  margin-bottom: 0;
  font-size: 3em;
  color: white;
}
/* ------------------------------------------------------------------------------------------------------------ */

/* ------ MES ANNONCES ------------------------------------------------------------------------------------------------------ */
#annonce{
  border: solid 2px black;
  display: flex;
  justify-content: space-between;
  width: 50%;
  height: auto;
  margin: auto;
  margin-bottom: 50px;
  border-radius: 75px;
  padding: 25px;
  align-items: stretch;
  background-color: rgba(236, 234, 229, 0.3);
}
#annonce img{
  width: 200px;
  height: 200px;
}
#boutonsAnnonce{
  display: flex;
  right: 0;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#boutonsAnnonce img{
  width: 75px;
  height: 75px;
  margin: 10px;
}
#boutonsAnnonce button{
background-color: rgba(236, 234, 229, 0);
margin-top: 10px;
}

#prixtotal{
	font-size: 50px;
	font-weight: bold;
}
